rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /Province/{provinceId} {
      allow read: if true;
      match /District/{districtId} {
        allow read: if true;
      }
    }
  }
}